body{
    width: 97.6vw;
    padding: 10px;
    overflow-x: hidden;
}

.principal{
    text-align: center;
    padding: 10px;
}

.font-style{
    font-size:6rem ;
    font-family: 'Dancing Script', cursive;
    border-bottom: 2px solid lightgray;
    padding-bottom: 20px;
}
.font-style02{
    font-size:2rem ;
}
.div-calculos{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.filhas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.wrapNumInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn{
    border-radius: 10px;
    background-color: dodgerblue;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    opacity: 0.8;
    font-weight: 900;
    color: white;
}
.btn:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-weight: 900;
}