body{
    width: 97.6vw;
    padding: 10px;
    overflow-x: hidden;
}

.principal{
    text-align: center;
    padding: 10px;
}

.font-style{
    font-size:6rem ;
    font-family: 'Dancing Script', cursive;
    border-bottom: 2px solid lightgray;
    padding-bottom: 20px;
}
.font-style02{
    font-size:2rem ;
}
.div-calculos{
    background-color: lightgrey;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }