*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    padding: 20px;
}
.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 5%;
}
.idPerfil{
    display: flex;
    gap: 5px;
}
@media (width <= 1024px){
    .center{
        justify-content: center;
        gap: 2vw;
    }
}